<!DOCTYPE html>
<html lang="en">
<head>
    h1 {
    text-align: center;
    }

    <meta charset="UTF-8">
    <title>Hello UST Team</title>
    h1 {
        text-align: center;
     }


</head>
<body>

<div class="container">
    <div class="welcome" >
        <h1 class="displayWelcome">Sign in</h1>
        <p>Please sign into account to view your info</p>
        <form action="/pmLogin" method="post">
             <input type="text" name="textLogin" placeholder="who are you?"/><br>
             <button type="submit"> Login </button>
        </form>
    </div>

</div>

</body>
</html>